#counter {
  cursor: pointer;
  width: 100px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #cccccc;
  background: rosybrown;
  color: #fff;
  text-align: center;
}

#const {
  width: 400px;
  margin: 0 auto;
  color: rosybrown;
  text-align: center;
}